# System File
.DS_Store
__MACOSX
Thumbs.db

# Node.js
node_modules/

# dist
assets/dist/

# VSCode Plugin
.history/

# Assets
assets/src/css/lib/tailwind.css
assets/src/js/lib/modernizr.js
assets/src/js/lib/swiper.js
assets/src/js/lib/yubinbango.js
