# System File
.DS_Store
__MACOSX
Thumbs.db

# Node.js
node_modules/

# dist
assets/dist/

# VSCode Plugin
.history/

# Assets
assets/src/css/libs/tailwind.css
assets/src/js/libs/modernizr.js
assets/src/js/libs/yubinbango.js
