.fadein-up {
  animation: fadeinUp 1s;
}

.fadein-down {
  animation: fadeinDown 1s;
}

.fadein-left {
  animation: fadeinLeft 1s;
}

.fadein-right {
  animation: fadeinRight 1s;
}

@keyframes fadeinUp {
  from {
    opacity: 0;
    transform: translateY(10vh);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeinDown {
  from {
    opacity: 0;
    transform: translateY(-10vh);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeinLeft {
  from {
    opacity: 0;
    transform: translateX(10vh);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeinRight {
  from {
    opacity: 0;
    transform: translateX(-10vh);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
