@font-face {
  src: url('../font/NotoSansJP-Regular.woff2') format('woff2'),
    url('../font/NotoSansJP-Regular.otf') format('opentype');
  font-family: 'noto-sans-jp';
  font-weight: normal;
  font-display: block;
}

@font-face {
  src: url('../font/NotoSansJP-Medium.woff2') format('woff2'),
    url('../font/NotoSansJP-Medium.otf') format('opentype');
  font-family: 'noto-sans-jp';
  font-weight: 500;
  font-display: block;
}

@font-face {
  src: url('../font/NotoSansJP-Bold.woff2') format('woff2'),
    url('../font/NotoSansJP-Bold.otf') format('opentype');
  font-family: 'noto-sans-jp';
  font-weight: bold;
  font-display: block;
}
