.loading {
  display: inline-block;
  border: 6px solid '#808080';
  border-radius: 100%;
  animation: loading 1.2s linear infinite;
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  border-top-color: '#808080';
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
