/* 管理バーが600px以下の時に位置が何故かabsoluteになるので調整 */
@media screen and (max-width: 600px) {
  #wpadminbar {
    position: fixed !important;
  }
}

.admin-bar {
  height: 46px !important;
}

@media (min-width: 768px) {
  .admin-bar {
    height: 32px !important;
  }
}
